<table class="table">
    <thead>
        <tr>
            <th *ngFor="let col of columns" [hidden]="!col.visible">
                {{col.colName}}

                <a [hidden]="direction==-1 || !allowSorting" (click)="sort(col.dataName,-1)"><div class="glyphicon glyphicon-menu-down"></div></a>
                <a [hidden]="direction==1 || !allowSorting" (click)="sort(col.dataName,1)"><div class="glyphicon glyphicon-menu-up"></div> </a>
            </th>

            <th [hidden]="!allowDelete"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of data; let i = index;">
            <td *ngFor="let col of columns" [hidden]="!col.visible">
                <phalanx-grid-column *ngIf="!col.video" [value]="col.date_pipe ? (c[col.dataName] | date:col.date_pipe) : c[col.dataName]">
                </phalanx-grid-column>
                <phalanx-grid-column-video *ngIf="col.video">
                </phalanx-grid-column-video>
            </td>
            <td [hidden]="!allowDelete"><a (click)="onDeleteRow(c)"><div class="glyphicon glyphicon-trash"></div> </a></td>
        </tr>
    </tbody>
</table>

<div class="btn-group" style="margin: 0px auto;" [ngStyle]="{'width': width}">
    <button class="btn btn-primary"
            (click)="onPageIndexChange(currentPage-1)"
            type="button"
            [disabled]="currentPage-1<0">

        <div class="glyphicon glyphicon-arrow-left"></div>
    </button>
    <button *ngFor="let pageIndex of pages;let ix = index;"
            (click)="onPageIndexChange(pageIndex-1)"
            class="btn btn-primary"
            type="button"
            [ngStyle]="{'background-color': paginationButtonColors[ix].background, 'color': paginationButtonColors[ix].character}">
        {{pageIndex}}
    </button>
    <button class="btn btn-primary"
            (click)="onPageIndexChange(currentPage+1)"
            type="button"
            [disabled]="currentPage+2>pages.length">
        <div class="glyphicon glyphicon-arrow-right"></div>
    </button>
</div>