<div class="container-fluid">
    <div class="row">
        <div style="height: 200px; width: 356px;">
            <div id="player" class="embed-responsive embed-responsive-16by9">
                <div [id]="playerId" style="height: 200px; width: 356px;" class="embed-responsive-item"></div>
                <div class="embed-responsive-item" *ngIf="!playerWindow.showIframe">
                    <div class="image-wrap">
                        <img style="height: 200px; width: 356px;" src="{{playerWindow.imgUrl}}">
                    </div>
                    <div class="play-button" (click)="play($event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>