<div style="height:230px">
    <div class="flex-container" style="height:30%">
        <div class="flex-column">
            <div class="flex-center" (wheel)="wheel($event)">
                <div class="perspective-left">
                    <div class="transform-left">
                        <img *ngIf="leftKv.value" style="height: 200px; width: 356px;" src="{{leftKv.value}}">
                        <img *ngIf="!leftKv.value" style="height: 200px; width: 356px;" src="/img/clear.gif">
                    </div>
                </div>
                <div class="flex-center">
                    <youtube-window [searchParams]='searchTerm$' [playerId]='playerId' [videoIdFromScroll]="videoId$" (videoMetaData)="onVideoMetaDataChange($event)">
                    </youtube-window>
                </div>
                <div class="perspective-right">
                    <div class="transform-right">
                        <img *ngIf="rightKv.value" style="height: 200px; width: 356px;" src="{{rightKv.value}}">
                        <img *ngIf="!rightKv.value" style="height: 200px; width: 356px;" src="/img/clear.gif">
                    </div>
                </div>
            </div>
            <div class="flex-center">
                <h5>{{centerKv.title}}</h5>
            </div>
        </div>
    </div>
</div>