<div class="create-space">
    <div class="container-fluid">
        <form class="col-xs-12" (submit)="onSubmit()" #nprQueryForm="ngForm">
            <div class="form-group col-xs-4">
                <label for="queryDate">Date</label>
                <input class="form-control" required [(ngModel)]="searchFormModel.queryDate" name="queryDate" type="date" id="queryDate"
                    #queryDate="ngModel" />
            </div>
            <div class="form-group col-xs-4">
                <label for="queryTerm">Search</label>
                <input class="form-control" [(ngModel)]="searchFormModel.queryTerm" name="queryTerm" type="text" id="queryTerm" placeholder="search..."
                    #queryTerm="ngModel" />
            </div>

            <button *ngIf="(action$ | async) !== 'fetching'" [disabled]="!nprQueryForm.form.valid" type="submit" class="btn btn-primary">
               Go
            </button>
            <div *ngIf="(action$ | async) === 'fetching'">
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </form>
    </div>
    <phx-remote-grid [init]='init' [dataSourceChanged]='dataSource$' [dataExtractionDevice]='dataGetter$'>
    </phx-remote-grid>
</div>