.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.image-wrap {
  position: relative;
  display: inline-block;
}

.video-dimension {
    float: left;
    height: 200px; 
    width: 356px;
}

.clear-gif {
    height: 100%;
    width: 100%;
    background-image: url("../../img/clear.gif");
    background-size: 200px 356px;
}


.perspective-right {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;   
    width:356px;
    height:200px;
    float:left;
}
.transform-right{
 
    width:100%;
    height:100%;
    /*overflow:scroll;*/
    -webkit-transform: rotateX(0deg) rotateY(-20deg) translateZ(-20px) translateX(-10px);      
    -moz-transform: rotateX(0deg) rotateY(-20deg) translateZ(-20px) translateX(-10px);      
}

.perspective-left {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;   
    width:356px;
    height:200px;
    float:left;
}
.transform-left{
 
    width:100%;
    height:100%;
    /*overflow:scroll;*/
    -webkit-transform: rotateX(0deg) rotateY(20deg) translateZ(-20px) translateX(10px);      
    -moz-transform: rotateX(0deg) rotateY(20deg) translateZ(-20px) translateX(10px);
}
