<table class="table">
    <thead>
        <tr>
            <th *ngFor="let col of setting.columns" [hidden]="!col.visible" [ngStyle]="{'width': gridBlockWidthPercent }">
                <div class="columns">
                    <div class="column is-1" *ngIf="by==1 || !setting.allowSorting">
                        <a (click)="sort(col.dataName,-1)">
                            <span class="icon is-small">
                        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                        </span>
                        </a>
                    </div>
                    <div class="column is-1" *ngIf="by==-1 || !setting.allowSorting">
                        <a (click)="sort(col.dataName,1)">
                            <span class="icon is-small">
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    </span>
                        </a>
                    </div>
                    <p class="column has-text-left">
                        {{col.colName}}
                    </p>
                </div>
            </th>

            <th [hidden]="!setting.allowDelete"></th>
        </tr>
    </thead>
</table>

<div *ngFor="let c of displayData; let i = index;" [@rollHeightAndFade]="c.data.isExpansionRowPhxRmtGrid ? 'expansion' : ''">
    <div *ngIf="c.data.isExpansionRowPhxRmtGrid">
        <phx-rmt-grid-expansion [rowData]="displayData.get(i-1)"></phx-rmt-grid-expansion>
    </div>
    <table class="table" *ngIf="!c.data.isExpansionRowPhxRmtGrid" [@fadeIn]="whenGridPopulating" >
        <tbody>
            <td class="is-icon">               
                <a (click)="expandOrCollapseRow(c,i)"><i class="fa fa-music" aria-hidden="true"></i></a>
            </td>
            <td *ngFor="let col of setting.columns" [hidden]="!col.visible" [ngStyle]="{'width': gridBlockWidthPercent}">
                <phx-remote-grid-block [value]="col.date_pipe != null ? (c.data[col.dataName]) : c.data[col.dataName]"></phx-remote-grid-block> <!--| date: col.date_pipe date pipe not working across browsers-->
            </td>
            <td [hidden]="!setting.allowDelete">
                <a (click)="deleteRow(c)">
                    <span class="icon">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
                </a>
            </td>
        </tbody>
    </table>
</div>

<nav class="pagination">
    <a [ngClass]="['button', page-1<0 ? 'is-disabled' : '' ]" (click)="changePage(page-1)">
        <span class="icon">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </span>
    </a>
    <a [ngClass]="['button', page+2>pages.size ? 'is-disabled' : '' ]" (click)="changePage(page+1)">
        <span class="icon">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </span>
    </a>
    <ul>
        <li *ngFor="let pageIndex of pages; let ix = index;">
            <a [ngClass]="['button', paginationButtonColors.get(ix).background === '#fff' ? 'is-primary' : '' ]" (click)="changePage(pageIndex-1)">
            {{pageIndex}}
        </a>
        </li>
    </ul>
</nav>