<table class="table">
    <thead>
        <tr>
            <th *ngFor="let col of setting.columns" [hidden]="!col.visible" [ngStyle]="{'width': '30%'}">
                {{col.colName}}

                <a [hidden]="by==-1 || !setting.allowSorting" (click)="sort(col.dataName,-1)">
                    <div class="glyphicon glyphicon-menu-down"></div>
                </a>
                <a [hidden]="by==1 || !setting.allowSorting" (click)="sort(col.dataName,1)">
                    <div class="glyphicon glyphicon-menu-up"></div>
                </a>
            </th>

            <th [hidden]="!setting.allowDelete"></th>
        </tr>
    </thead>
</table>





<table *ngFor="let c of displayData; let i = index;" class="table">
    <tr *ngIf="c.data.isExpansionRowPhxRmtGrid">
        <phx-rmt-grid-expansion [rowData]="displayData.get(i-1)" ></phx-rmt-grid-expansion>
    </tr>
    <td *ngIf="!c.data.isExpansionRowPhxRmtGrid">
        <a (click)="expandOrCollapseRow(c,i)"> <i class="glyphicon glyphicon-resize-vertical"></i></a>
    </td>
    <td *ngFor="let col of setting.columns" [hidden]="!col.visible && !c.data.isExpansionRowPhxRmtGrid" [ngStyle]="{'width': '30%'}">
        <phx-remote-grid-block [value]="c.data[col.dataName]"></phx-remote-grid-block>
    </td>
    <td  *ngIf="!c.data.isExpansionRowPhxRmtGrid" [hidden]="!setting.allowDelete">
        <a (click)="deleteRow(c)">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </td>
</table>



<div class="btn-group" style="margin: 0px auto;" [ngStyle]="{'width': paginationWidth}">
    <button class="btn btn-primary" (click)="changePage(page-1)" type="button" [disabled]="(page-1)<0">

        <div class="glyphicon glyphicon-arrow-left"></div>
    </button>
    <button *ngFor="let pageIndex of pages; let ix = index;" (click)="changePage(pageIndex-1)" class="btn btn-primary" type="button"
        [ngStyle]="{'background-color': paginationButtonColors.get(ix).background, 'color': paginationButtonColors.get(ix).character}">
            {{pageIndex}}
    </button>
    <button class="btn btn-primary" (click)="changePage(page+1)" type="button" [disabled]="page+2>pages.size">
        <div class="glyphicon glyphicon-arrow-right"></div>
    </button>
</div>