<div class='main-nav'>
    <div class='navbar navbar-inverse shadow-right-hover-5'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">RadioWatch.io</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']" class="shadow-hover-2 rounded">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="shadow-hover-2 rounded">
                    <a [routerLink]="['/evening-music']">
                        <span class='glyphicon glyphicon-home'></span> Evening Music
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="shadow-hover-2 rounded">
                    <a [routerLink]="['/example']">
                        <span class='glyphicon glyphicon-home'></span> Example
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="shadow-hover-2 rounded">
                    <a [routerLink]="['/test']">
                        <span class='glyphicon glyphicon-home'></span> Test
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>